section#about
  h1 about
  div.about-container
    .intro
      p My name is Steven To. <br/>  I'm a web designer and a front-end developer. 
      p I'm passionate in designing and creating elegant websites.
      p Not a fan of ginger.
