footer#connect
  h1 connect
  div.connect-container
    h4 You can always find me on:
    .social
      a(href="#")
        i.fa.fa-twitter
      a(href="#")
        i.fa.fa-github
      a(href="#")
        i.fa.fa-codepen
  h6.copyright © Steven To 2015
