footer#connect
  h1 connect
  div.connect-container
    h4 You can always find me on:
    .social
      a(href="https://twitter.com/_c3to")
        i.fa.fa-twitter
      a(href="https://github.com/steven-to")
        i.fa.fa-github
      a(href="http://codepen.io/stevento/")
        i.fa.fa-codepen
  h6.copyright © Steven To 2015
