section#headline
  div.headline-container
    img(src="assets/img/site-img/avatar-round-color.svg" alt="avatar" class="avatar" style="width: 240px")
    h1 thinker <span>/</span> designer <span>/</span> creator
