header#main-header
  .header-container
    img(src="assets/img/site-img/st-logo-simple.svg", alt="logo", style="width:70px").logo
    nav.navbar
      ul
        li
          a(href="#" class="about-nav") about
        li
          a(href="#" class="blog-nav") blog
        li
          a(href="#" class="works-nav") works
        li
          a(href="#" class="connect-nav") connect
    .hamburger
      span
      span
      span
      span
