header#main-header
  .header-container
    img(src="assets/img/site-img/st-logo-simple.svg", alt="logo", style="width:70px").logo
    nav.navbar
      ul
        li
          a(href="#") about
        li
          a(href="#") blog
        li
          a(href="#") works
        li
          a(href="#") notes
        li
          a(href="#") connect
    .hamburger
      span
      span
      span
      span
