<section id="blog-preview">
  <h1>blog</h1>
  <div class="blog-preview-container">
    <p>I design and write articles about the modern web.</p>

    <div class="blog-showcase">

      {% for article in site.posts limit:8 %}
      <div class='article-preview-thumb' style="background-image: url(assets/img/blog-img/covers/{{ article.post-cover }})">
        <a href="{{ article.url }}" target="_blank">
          <div class="article-preview-meta">
            <h4 class="article-preview-title">{{ article.title }}</h4>
            <p class="article-preview-date">{{ article.date | date: '%b %d, %Y' }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
      
    </div>

    <div class="clear"></div>
    <div class="read-more-container">
      <a href="#" class="read-more">READ MORE</a>
    </div>
  </div>
</section>
