<section id="blog-preview">
  <h1>blog</h1>
  <div class="blog-preview-container">
    <p>I design and write articles about the modern web.</p>

    <div class="blog-showcase">
      <div class='article-preview-thumb' style="background-image: url(http://www.fillmurray.com/255/255)">
        <div class="article-preview-meta">
          <h4 class="article-preview-title">Title</h4>
          <p class="article-preview-date">Oct 24th, 2015</p>
        </div>
      </div>
      <div class='article-preview-thumb' style="background-image: url(http://www.fillmurray.com/255/255)"></div>
      <div class='article-preview-thumb' style="background-image: url(http://www.fillmurray.com/255/255)"></div>
      <div class='article-preview-thumb' style="background-image: url(http://www.fillmurray.com/255/255)"></div>
      <div class='article-preview-thumb' style="background-image: url(http://www.fillmurray.com/255/255)"></div>
      <div class='article-preview-thumb' style="background-image: url(http://www.fillmurray.com/255/255)"></div>
      <div class='article-preview-thumb' style="background-image: url(http://www.fillmurray.com/255/255)"></div>
      <div class='article-preview-thumb' style="background-image: url(http://www.fillmurray.com/255/255)"></div>
    </div>

    <div class="clear"></div>
    <div class="read-more-container">
      <a href="#" class="read-more">READ MORE</a>
    </div>
  </div>
</section>
