<section id="blog-preview">
  <h1>blog</h1>
  <div class="blog-container">
    <p>I design and write articles about the modern web.</p>
    <div class="blog-showcase">
      <div style="background-image: url(http://www.fillmurray.com/255/255)"></div>
      <div style="background-image: url(http://www.fillmurray.com/255/255)"></div>
      <div style="background-image: url(http://www.fillmurray.com/255/255)"></div>
      <div style="background-image: url(http://www.fillmurray.com/255/255)"></div>
      <div style="background-image: url(http://www.fillmurray.com/255/255)"></div>
      <div style="background-image: url(http://www.fillmurray.com/255/255)"></div>
      <div style="background-image: url(http://www.fillmurray.com/255/255)"></div>
      <div style="background-image: url(http://www.fillmurray.com/255/255)"></div>
    </div>
    <div class="clear"></div>
    <div class="read-more-container">
      <a href="#" class="read-more">READ MORE</a>
    </div>
  </div>
</section>
