
<header id="main-header">
  <div class="header-container"><img src="assets/img/site-img/st-logo-simple.svg" alt="logo" style="width:70px" class="logo"/>
    <nav class="navbar">
      <ul>
        <li><a href="#">about</a></li>
        <li><a href="#">blog</a></li>
        <li><a href="#">works</a></li>
        <li><a href="#">notes</a></li>
        <li><a href="#">connect</a></li>
      </ul>
    </nav>
    <div class="hamburger"><span></span><span></span><span></span><span></span></div>
  </div>
</header>