
<header id="main-header">
  <div class="header-container"><img src="assets/img/site-img/st-logo-simple.svg" alt="logo" style="width:70px" class="logo"/>
    <nav class="navbar">
      <ul>
        <li><a href="#" class="about-nav">about</a></li>
        <li><a href="#" class="blog-nav">blog</a></li>
        <li><a href="#" class="works-nav">works</a></li>
        <li><a href="#" class="connect-nav">connect</a></li>
      </ul>
    </nav>
    <div class="hamburger"><span></span><span></span><span></span><span></span></div>
  </div>
</header>