<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Steven To</title>

    <meta name="author", content="Steven To">
    <meta name="description", content="Steven's awesome website">

    <meta name="viewport", content="width=device-width, initial-scale=1">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="assets/css/main.css">

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>


    {% include header.html %}

    <div class="content-body">
      {{ content }}
    </div>


    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Script -->
    <script src="assets/js/min/script.js"></script>
  </body>
</html>
